@import "bootstrap-sprockets";
@import "bootstrap";

/* mixin */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

 body {
   padding-top: 160px;
 }

 section {
   overflow: auto;
 }

 textarea {
   resize: none;
   margin-bottom: 20px;
 }

 .center {
   text-align: center;
   h1 {
     margin-bottom: 30px;
   }
 }

 /* typography */

 h1,h2,h3,h4,h5,h6 {
   line-height: 1;
 }

 h1 {
   font-size: 4em;
   margin-bottom: 30px;
   text-align: center;
 }

 h2 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.2em;
  line-height: 1.7em;
}

/* header */

header {
  background-color: red;
}

#logo {
  float: left;
  font-size: 1.8em;
  color: white;
  font-weight: bold;
  padding-top: 7px;
  &:hover {
    text-decoration: none;
    opacity: .8;
  }
}

.logo-login {
  list-style: none;
  float: left;
  font-size: 1.8em;
  color: white;
  font-weight: bold;
  padding-top: 7px;
}

.nav a {
  color: white;
  font-size: 1.1em;
  &:hover {
    color: black;
  }
}

.btn {
  font-size: 2.5em;
}

/* sidebar */

aside {
  section.user-info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
  }
  h1 {
    font-size: 1.5em;
    text-align-last: left;
    margin-top: 0;
    margin-bottom: 3px;
  }
}
#user-icon {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  object-fit: cover;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid black;
    color: black;
    &:first-child {
      border: 0;
      padding-left: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  .strong {
    display: block;
  }
}

.btn-unfollow {
  background-color: grey;
  color: white;
}


/* forms */
form {
  margin-bottom: 20px;
}

input {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  padding: 4px;
  outline: none;
  height: auto !important;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid black;
  }
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding-top: 4px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 10px;
    margin: 100px 0;
    border: 1px solid  black;
  }
  .user {
    margin-top: 0;
    padding-top: 0;
  }
  .title, .content {
    display: block;
    margin-left: 70px;
  }
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 60px;
    border-bottom: 1px solid black;
    padding-bottom: 6px;
  }
  .picture {
    margin-left: 70px;
  }
  .content {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 24px;
  }
  .timestamp {
    color: #a0a0a0;
    display: block;
    text-align: right;
  }
}
